{% render 'partials/head.liquid',
  title: 'Snapps',
  allSnapps: allSnapps,
  path: path,
  pathLocation: pathLocation
%}


{% assign sorted_snapps = allSnapps | sort: "date_created" | reverse %}

<ul class="snapp-grid">
  {% for OneSnapp in sorted_snapps %}
    <li>
      <a href="/snapps/{{ OneSnapp.uuid }}">
        <picture>
          <source srcset="https://fdnd-agency.directus.app/assets/{{ OneSnapp.picture }}?width=300&format=avif" type="image/avif" width="300" height="auto">            
          <source srcset="https://fdnd-agency.directus.app/assets/{{ OneSnapp.picture }}?width=300&format=webp" type="image/webp" width="300" height="auto">
          <img loading="lazy" src="https://fdnd-agency.directus.app/assets/{{ OneSnapp.picture }}?width=300" alt="" width="300" height="auto">
        </picture>
      </a>
    </li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', MultiplesnappsList: true %}
